nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #018786;
    padding: 5px 20px;
    box-shadow: 0 5px 15px rgba(0,0,0, 0.06);
    position: relative;
    z-index: 3;
}

.custom-logo{
    max-width: 180px;
}


#navUL{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navUL li{
    list-style: none;
    padding: 0 5px;
    position: relative;
}

#navUL li .LinkClass{
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease-in-out;
    color: black;
    margin-top: 5px;
}
/* 
#navUL li .LinkClass:hover,
#navUL li .LinkClass.active{
    color: greenyellow;
} */

#navUL li .LinkClass:hover::after,
#navUL li .LinkClass.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background: blue;
    position: absolute;
    bottom: -4px;
    left: 12px;
}

.custom-dropdown{
    position: relative;
    cursor: pointer;
}

.custom-dropdown > .drop{
    display: flex;
    align-items: center;
    gap: 2px;
}

.custom-dropdown:hover .menu {
    opacity: 1;
    visibility: visible;
    z-index: 1;
}

.menu > .drop {
    font-size: 14px;
    padding: 10px 20px;
}

.menu > .drop:hover{
    background-color: #f5f5f5;
}

.menu{
    position: absolute;
    top: 40px;
    right: -20px;
    display: grid;
    width: 180px;
    padding: 8px 0;
    background: #ffffff;
    border-radius: 10px;
    border: 1px solid #e1e1e1;
    box-shadow: 0 40px 40px rgba(0 0 0 / 6%);
    opacity: 0;
    visibility: hidden;
    transition: 0.25s;
}

.menu::before{
    content: "";
    background: inherit;
    border-top: 1px solid #e1e1e1;
    border-right:  1px solid #e1e1e1;
    position: absolute;
    top: -7px;
    right: 22px;
    width: 12px;
    height: 12px;
    rotate: -45deg;
}



#mobile {
    display: none;
}

#mobile i {
    color: #fff;
    align-items: center;
}

@media screen and (max-width: 903px){
    
    .navbar-backdropm {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        background-color: rgba(0, 0, 0, 0.5);
    }

    #navUL{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 50px;
        right: -300px;
        width: 300px;
        height: 200vh;
        background: #fff;
        box-shadow: 0 40px 60px rgba(0,0,0, 0.1);
        padding: 40px 0 0 10px;
        transition: 0.5s ease-in-out;
    }

    #navUL.active{
        right: 0px;

    }

    #navUL li{
            margin-bottom: 25px;
    }

    #mobile {
        display: block;
    }

    #mobile i{
        font-size: 24px;
        cursor: pointer;
    }
}